.cm-scroller {
    font-family: "Consolas", 'Courier New', monospace !important;
}
.cm-editor {
    .literal {
        color: #bd93f9
    }
    .string {
        color: #64b84c
    }
    .variable {
        color: #e7e7e7;
    }
    .class, .type {
        color: #f1c461;
    }
    .property {
        color: #f8f8f8;
    }
    .comment {
        color: #969896;
    }
    .keyword {
        color: #de8cee;
    }
    .functionCall, .propertyName {
        color: #82aaff;
    }
    .atom {
        color: #ff7b53;
    }
    .macro {
        color: #cc8c66;
    }
    .meta, .link, .heading, .emphasis, .strong, .strikethrough, .regex, .invalid, .bracket {
        
    }
}
