*:focus-visible, *:focus {
	outline: none !important;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	user-select: none;
	-webkit-user-select: none;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	box-sizing: border-box;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0;
	outline: none !important;
	box-sizing: border-box;
}

input:focus, button:focus, textarea:focus {
	outline: none !important;
}

input:disabled {
	color: #ccc;
}

button {
	cursor: pointer;
	padding: 0;
	background: none;
	border: none;
}
ul {
	padding: 0
}

.editor-panes .splitpanes__pane {
    background-color: transparent;
    transition: none !important;
}
.editor-panes .splitpanes__splitter {
    position: relative;
}
.editor-panes .splitpanes__splitter.splitpanes__splitter__active {
    z-index: 1;
}
.editor-panes .splitpanes__splitter::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 0.2s;
    background-color: #34b0f8;
    opacity: 0;
    z-index: 1;
}
.editor-panes .splitpanes__splitter:hover::before {
    opacity: 1;
}
.editor-panes.splitpanes--vertical > .splitpanes__splitter::before {
    left: -1.5px;
    right: -1.5px;
    height: 100%;
    cursor: ew-resize;
}
.editor-panes.splitpanes--horizontal > .splitpanes__splitter::before {
    top: -1.5px;
    bottom: -1.5px;
    width: 100%;
    cursor: ns-resize;
}
.editor-panes.splitpanes--dragging .splitpanes__splitter::before {
    opacity: 1;
}
.editor-panes.splitpanes--vertical.splitpanes--dragging {
    cursor: ew-resize;
}
.editor-panes.splitpanes--horizontal.splitpanes--dragging {
    cursor: ns-resize;
}